﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization

@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Guardian &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!--
	  //////////////////////////////////////////////////////

	  FREE HTML5 TEMPLATE
	  DESIGNED & DEVELOPED by FREEHTML5.CO

	  Website: 		http://freehtml5.co/
	  Email: 			info@freehtml5.co
	  Twitter: 		http://twitter.com/fh5co
	  Facebook: 		https://www.facebook.com/fh5co

	  //////////////////////////////////////////////////////
	   -->
	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/css/superfish.css">

	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/scripts/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9] -->
	<script src="/scripts/respond.min.js"></script>
	<![endif]-->

	@RenderSection("Head", false)
</head>

<body>

	@RenderSection("ScriptsTop", false)

	<div id="fh5co-wrapper">
		<div id="fh5co-page">

			@Html.Partial("_Header")

			@*@{ Html.RenderAction("RenderHeader", "SiteLayout"); }*@

			@*@{ Html.RenderAction("RenderHero", "SiteLayout"); }*@

			@RenderBody()

			@*@{ Html.RenderAction("RenderFooter", "SiteLayout"); }*@

			@Html.Partial("_Footer")

		</div>
		<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->
	<!-- jQuery -->


	<script src="/scripts/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/scripts/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/scripts/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/scripts/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="/scripts/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="/scripts/hoverIntent.js"></script>
	<script src="/scripts/superfish.js"></script>

	@RenderSection("ScriptsBottom", false)

	<!-- Main JS (Do not remove) -->
	<script src="/scripts/main.js"></script>

</body>
</html>

