﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using System.Linq;

@{
	Layout = "Master.cshtml";
	var works = Model.Content;


	// http://www.xpather.com/
	// https://devhints.io/xpath
	//var normalPages = (Umbraco.ContentAtXPath(".//normalPage") as IEnumerable<IPublishedContent>);
	//var anormalPages = (Umbraco.ContentAtXPath(".//anormalPage") as IEnumerable<IPublishedContent>);
	//var allPages = normalPages.Union(anormalPages).Select(x => x.Name);
}

@* the fun starts here *@

@foreach (IPublishedContent item in Model.Content.Children)
{
	if (item.DocumentTypeAlias == "hero")
	{
		@Html.Partial("_Hero", item)
	}
}

<div id="fh5co-work-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>@works.GetProperty("worksPageTitle").Value</h3>
				<p>@Html.Raw(works.GetProperty("worksPageIntroText").Value)</p>
			</div>
		</div>
	</div>
	<div class="container">
		@foreach (var work in works.Children.Where(x => x.DocumentTypeAlias == "normalPage"))
		{
			var workContent = work.Children.Where(x => x.DocumentTypeAlias == "work").FirstOrDefault();

			string img = "";
			if (workContent != null && workContent.GetProperty("workThumbImage").HasValue)
			{
				IPublishedContent i = Umbraco.TypedMedia(workContent.GetProperty("workThumbImage").Value.ToString());
				if (i != null)
				{
					img = i.Url + "?format=jpg";
				}
			}

			<div class="col-md-4">
				<div class="fh5co-grid animate-box" style="background-image: url(@img)">
					<a class="image-popup text-center" href="@work.Url">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>

@*@foreach (IPublishedContent item in Model.Content.Children)
{
	if (item.DocumentTypeAlias == "normalPage")
	{
		@Html.Partial("_Work", item)
	}
}*@