﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

    <div id="fh5co-services">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-browser"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">01.</h4>
					<h2>Web Development</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-mobile"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">02.</h4>
					<h2>Mobile Apps</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-tools"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">03.</h4>
					<h2>UX Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-video"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">04.</h4>
					<h2>Video Editing</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>


			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-search"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">05.</h4>
					<h2>SEO Ranking</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-cloud"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">06.</h4>
					<h2>Cloud Based Apps</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
	<!-- END fh5co-services-section -->