﻿<div id="fh5co-blog-section" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Recent From Blog</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="images/blog-1.jpg" alt=""></a>
					<div class="image-popup" href="#">
						<div class="prod-title">
							<h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
							<span class="posted_by">Posted by: Admin</span>
							<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="images/blog-2.jpg" alt=""></a>
					<div class="image-popup" href="#">
						<div class="prod-title">
							<h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
							<span class="posted_by">Posted by: Admin</span>
							<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="images/blog-3.jpg" alt=""></a>
					<div class="image-popup" href="#">
						<div class="prod-title">
							<h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
							<span class="posted_by">Posted by: Admin</span>
							<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fh5co-blog-section -->
