﻿<div id="fh5co-content-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>What Others Say</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="fh5co-testimonial text-center animate-box">
					<figure>
						<img src="/images/user-1.jpg" alt="user">
					</figure>
					<blockquote>
						<p>“Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.”</p>
					</blockquote>
					<span>Steve Jobs, Apple Inc.</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fh5co-content-section -->
