﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div id="fh5co-contact" class="animate-box">
	<div class="container">
		<form action="#">
			<div class="row">
				<div class="col-md-6">
					<h3 class="section-title">Our Address</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
						<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
						<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1100.7983921128064!2d-9.155772481255775!3d38.70568433211031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19339fef9b1c45%3A0x8f5749b6f0c0585a!2sBar+Ogilvy!5e0!3m2!1sen!2spt!4v1555343801544!5m2!1sen!2spt" frameborder="0" allowfullscreen></iframe>
</div>
<!-- END map -->

@section ScriptsBottom {
	<!-- Google Map -->
	@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="/scripts/google_map.js"></script>*@
}