﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web


@{
	var selection = Model.Content.AncestorOrSelf(1).Children.Where(x => x.TemplateId > 0).ToList();
	var home = Model.Content.AncestorOrSelf(1);
}

<div id="fh5co-header">
	<header id="fh5co-header-section">
		<div class="container">
			<div class="nav-header">
				<a href="/" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<h1 id="fh5co-logo"><a href="/">Guar<span>dian</span></a></h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					@if (selection.Count > 0)
					{
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li class="@(Model.Content.Id == home.Id ? "active" : null)">
							<a href="@home.Url">@home.Name</a>
						</li>
						@foreach (var item in selection.OrderBy(x => x.SortOrder))
						{
							<li class="@(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
								<a href="@item.Url">@item.Name</a>
							</li>
						}
					</ul>
					}
				</nav>
				@*<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="portfolio.html" class="fh5co-sub-ddown">Projects</a></li>
							<li><a href="services.html" class="fh5co-sub-ddown">Services</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>*@
			</div>
		</div>
	</header>

</div>
