﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>

<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(/images/home-image.jpg);">
		<div class="desc animate-box">
			<h2>@Html.Raw(Model.Content.GetProperty("heroTitle").Value)</h2>
			<span>@Html.Raw(Model.Content.GetProperty("heroSubtitle").Value)</span>
			
			@if (Model.Content.GetProperty("heroBtnText").HasValue && Model.Content.GetProperty("heroBtnText").Value != null) {
				<span><a class="btn btn-primary" href="#">@Model.Content.GetProperty("heroBtnText").Value</a></span>
			}
			
		</div>
	</div>

</div>
<!-- end:header-top -->
