﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>
@using System.Linq;

@{

}

@if (Model.Content.Parent.DocumentTypeAlias == "homePage")
{
	<div id="fh5co-services-section" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>@Model.Content.GetProperty("servicesTitle").Value</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-browser"></i></span>
						<h3>Web Development</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-mobile"></i></span>
						<h3>Mobile Apps</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-tools"></i></span>
						<h3>UX Design</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-video"></i></span>
						<h3>Video Editing</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-search"></i></span>
						<h3>SEO Ranking</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<span><i class="icon-cloud"></i></span>
						<h3>Cloud Based Apps</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else if (Model.Content.Parent.DocumentTypeAlias == "normalPage")
{
	<div id="fh5co-services">
		<div class="container">
			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-browser"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">01.</h4>
					<h2>Web Development</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-mobile"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">02.</h4>
					<h2>Mobile Apps</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-tools"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">03.</h4>
					<h2>UX Design</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-video"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">04.</h4>
					<h2>Video Editing</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>


			<div class="row row-bottom-padded-lg">
				<div class="col-md-3">
					<div class="fh5co-icon"><i class="icon-search"></i></div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<h4 class="fh5co-number">05.</h4>
					<h2>SEO Ranking</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-md-push-8">
					<div class="fh5co-icon"><i class="icon-cloud"></i></div>
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h4 class="fh5co-number">06.</h4>
					<h2>Cloud Based Apps</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
					<ul>
						<li>Web Design</li>
						<li>Search Engine Optimzation</li>
						<li>HTML5 &amp; CSS3</li>
						<li>jQuery Library</li>
					</ul>
				</div>
			</div>


		</div>
	</div>
}


<!-- fh5co-services-section -->
