﻿<div id="fh5co-work-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Selected Work</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<div class="fh5co-grid animate-box" style="background-image: url(/images/work-1.jpg);">
					<a class="image-popup text-center" href="#">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="fh5co-grid animate-box" style="background-image: url(/images/work-2.jpg);">
					<a class="image-popup text-center" href="#">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="fh5co-grid animate-box" style="background-image: url(/images/work-3.jpg);">
					<a class="image-popup text-center" href="#">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="fh5co-grid animate-box" style="background-image: url(/images/work-4.jpg);">
					<a class="image-popup text-center" href="#">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fh5co-work-section -->
