﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>

@{
	var works = Model.Content;
}

<div id="fh5co-work-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>@works.GetProperty("worksPageTitle").Value</h3>
				<p>@Html.Raw(works.GetProperty("worksPageIntroText").Value)</p>
			</div>
		</div>
	</div>
	<div class="container">
		@foreach (var work in works.Children.Where(x => x.DocumentTypeAlias == "normalPage"))
		{
			string img = "";
			if (work.Children.Where(x=>x.DocumentTypeAlias=="work").FirstOrDefault()!=null && work.Children.Where(x => x.DocumentTypeAlias == "work").FirstOrDefault().GetProperty("workThumbImage").HasValue)
			{
				IPublishedContent i = Umbraco.TypedMedia(work.GetProperty("workThumbImage").Value.ToString());
				if (i != null)
				{
					img = i.Url + "?format=jpq";
				}
			}

			<div class="col-md-4">
				<div class="fh5co-grid animate-box" style="background-image: url(@img)">
					<a class="image-popup text-center" href="#">
						<div class="prod-title">
							<h3>Don’t Just Stand There</h3>
							<span>Illustration, Print</span>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>
<!-- END fh5co-work-section -->
